Options -MultiViews
RewriteEngine On

#RewriteBase /

RewriteCond %{REQUEST_URI} !(\.css|fonts|\.woff|\.tff|\.svg|\.eot|\.woff2|\.js|\.png|\.jpg|\.webp|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]